<form>
	<span>Route:</span></br> 
	<input name="route" type="text" ng-model="route.route" /></br>
	<span>Service:</span></br>
	<input name="service" type="text" ng-model="route.service" /></br>
	<span>description:</span></br>
	<textarea ng-model="route.description"></textarea></br>
	<span>Invocation Style :</span>
	<input type="radio" ng-model="route.invocationstyle" value="sync" />sync
	<input type="radio" ng-model="route.invocationstyle" value="async" />async
	</br></br>
	<button class="minimal" ng-click="cancel()">Cancel</button>
	<button class="minimal" ng-click="save(route)">Save</button>
</form>
<p>{{message}}</p>
