/* app css stylesheet */

body {
  padding-top: 20px;
}

.menu li {
  list-style: none;
  display:inline;
  float: left;
  margin: -1em 1em 1.5em 0em;
  padding-bottom: 1em;
}

.routes {
  list-style: none;
}

.serviceToggle {
  float: left;
  padding: 0.5em;
  padding: 0.5em;
  padding-bottom: 5em;
}

.routes li {
  clear: both;
  height: 7em;
  padding-top: 15px;
}

h1 {
  border-bottom: 1px solid gray;
}
