<div ng-controller="newRouteCtrl">
	<h3>New Route</h3>
	<div>
		<form class="form-horizontal">
			<label>Service:</label>
			<input name="service" type="text" ng-model="route.service" />
			<label>description:</label>
			<textarea ng-model="route.description"></textarea></br>
			<label>Route:</label>
			<input name="route" type="text" ng-model="route.route" />
			<label>Invocation Style :</label>
			<input type="radio" ng-model="route.invocationstyle" value="sync" />sync
			<input type="radio" ng-model="route.invocationstyle" value="async" />async
			<label>Interaction Pattern:</label>
			<select ng-model="route.plugin" ng-options="plugin for plugin in plugins">
				<option value="">-- Interaction Pattern --</option>
			</select>
			<a ng-click="save(route)" class="btn btn-primary">Save</a>
			<a ng-click="clear()" class="btn">Clear</a>
		</form>
		<p>{{message}}</p>
		
</div>