<div class="container-fluid">
  <div class="row-fluid">
	<ul class="menu">
        <li>
          <a href="#/menu/deploy">Deploy</a>
        </li>
        <li>
          <a href="#/menu/manage">Manage</a>
        </li>
        <li>
          <a href="#/menu/report">Report</a>
        </li>		
	</ul>
  </div>
  <div class="row-fluid">
    <div class="span2">
      <!--Sidebar content-->

      Search: <input ng-model="query">
      Sort by:
      <select ng-model="orderProp">
        <option value="serviceStatus">Status</option>
        <option value="service">Service</option>
      </select>

    </div>
    <div class="span10">
      <!--Body content-->
   
      <ul class="routes">
        <li ng-repeat="route in routes | filter:query | orderBy:orderProp" class="thumbnail">
			<img ng-src="img/management/{{route.serviceStatus}}.jpg" ng-click="toogleService(route)" class="serviceToggle">
			<a href="#/routes/{{route.id}}">{{route.service}}</a>  
			<p>Jigsaw Service "{{route.service}}" accessed on {{route.route}}</p>
			<p>Description: {{route.description}}</p>
			<p>Status: {{route.serviceStatus}}</p>
        </li>
      </ul>

    </div>
  </div>
</div>
