<ul id="tlyPageGuide" data-tourtitle="Management">
	<li class="tlypageguide_right" data-tourtarget="#newRouteBtn">
		<div>Used to add a new route to the Jigsaw server</div>
	</li>
	<li class="tlypageguide_right" data-tourtarget="#exportRoutesBtn">
		<div>This exports the list of filtered routes to a csv file, which can then be modified and imported enabling a quick and easy way of adjusting routes</div>
	</li>
	<li class="tlypageguide_right" data-tourtarget="#importRoutesBtn">
		<div>Enables you to import a list of predefined imports from a csv format. Use the export button to create a template.</div>
	</li>
	<li class="tlypageguide_right" data-tourtarget="#searchRoutes">
		<div>Enables you to import a list of predefined imports from a csv format. Use the export button to create a template.</div>
	</li>
	<li class="tlypageguide_right" data-tourtarget="#orderRoutes">
		<div>Enables you to import a list of predefined imports from a csv format. Use the export button to create a template.</div>
	</li>
</ul>

<script>
	$(document).ready(function() { tl.pg.init({ /* optional preferences go here */ }); });
</script>